<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntegriMED - Medical Data Integrity</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    
    <div class="header">
        <div id="logo"><img src="../static/imgs/integrimed-logo.png"></div>
        
        <h1 class="name">IntegriMED</h1>
        <h2 id="tagline">Ensuring the integrity of medical records</h2>
    </div>
    <div id="choices">
        <a  href="#professional">
            <button class="option" type="button">Medical Professional</button>
        </a>
        <a href="#patient">
            <button class="option" type="button">Patient</button>
        </a>
    </div>



    
</body>
</html>