<!-- Template with corrected blocks and structure -->
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <h1>Registration</h1>
        <br/>
        <form action="/registration" method="POST">
            <!-- Define input fields as expected in the backend -->
            <input type="text" placeholder="Name" name="Name">
            <input type="text" placeholder="Email" name="Email">
            <input type="text" placeholder="Affiliated Hospital" name="Affiliated Hospital">
            <input type="password" placeholder="Password" name="Password">
            <label for="UserType">User Type:</label>
            <select name="UserType">
                <option value="Patient">Patient</option>
                <option value="Medical Professional">Medical Professional</option>
            </select>


            <input type="submit" value="Add Information" class="custom-button">
            </form>
            <br/><br/>
      

        <!-- Button to delete user, assuming 'user' is passed into the template context -->
        {% if user %}
            <a href="/delete/{{ user.id }}" class="custom-button delete-button">Delete</a>
        {% endif %}
    </div>
{% endblock %}
