{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <h1>Account Registration</h1>
        <br/>
        <form action="/signup" method="POST">
            <!-- Define input fields as expected in the backend -->
            <input type="text" placeholder="Name" name="Name">
            <input type="text" placeholder="Email" name="Email">
            <input type="text" placeholder="Affiliated Hospital" name="affiliatedHospital">
            <input type="password" placeholder="Password" name="Password">
            <label for="UserType">User Type:</label>
            <select name="UserType">
                <option value="Patient">Patient</option>
                <option value="Medical Professional">Medical Professional</option>
            </select>


            <input type="submit" value="Add Information" class="custom-button">
            </form>
            <br/><br/>
      

{% endblock %}